@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #c6ddca;
  --font: #1F1115;


  --greenspace: #c6ddca;
  --brightspace: #edf5e6;
  --borderbright: #e2fae6;
  --spltcmp2: #1F1115;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #1b241d;
    --font: #edf5e6;
  }
}

body {
  background-color: var(--foreground);
  color: var(--font);

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}
